/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Concert+One&family=Outfit:wght@100..900&display=swap');



/*wild card selector*/
* {
    padding :0;
    margin :0;
    box-sizing: border-box;
}

/*body*/
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family :'Comfortaa', sans-serif;

}

/*header*/
header {
    background :white;
    padding :0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

h1 {
    font-family: 'Concert One', sans-serif;
}

/*main*/
main {
    background:rgb(0, 183, 255);
    flex: 1 0 auto;
}

/*footer*/
footer {
    background :green;
}