/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Concert+One&family=Outfit:wght@100..900&display=swap');



/*wild card selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body*/
body {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(37, 37, 37);
    font-family: 'Comfortaa', sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Concert One', sans-serif;
    text-transform: uppercase;
}

/*header*/
header {
    background: rgb(87, 198, 226);
    padding: 0 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgb(37, 37, 37);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header,
a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
    color: yellow;
}



#menu {
    font-size: 115%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(37, 37, 37);
}

/*nav dropdown menu*/
nav {
    position: absolute;
    background-color: rgb(87, 198, 226);
    width: 100%;
    box-shadow: 0 2px 2px rgb(37, 37, 37);
    padding: 0 1em;
    left: 0;
    display: none;
    top: 100%;
}

/*nav toggle*/
#nav-toggle:checked~nav {
    display: block
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;

}

/*main*/
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/*hero section*/
#hero {
    height: 84vh;
    width: 100%;
    background: url("../images/background\ image\ 1.jpg") no-repeat center center/cover;
}

#cover-text {
    background-color: rgba(238, 238, 28, .7);
    font-size: 110%;
    position: absolute;
    bottom: 90px;
    max-width: 58%;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/*reasons section*/
#why {
    border: 2px solid rgb(37, 37, 37);
    padding : 10px 10px 20px 10px;
    
}

#why > h2 {
    margin-bottom: 20px;
    text-decoration :underline;
}

#reason, div {
    margin-top: 10px;
    line-height: normal;
    
}



#reason, div, ul {
    padding-left: 30px;
    padding-right: 20px;
}

#circle-image {
    background: url("../images/sun-smile.jpg") no-repeat top center/cover;
    height:70vw;
    width :70vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#reason-image {
    display :flex;
    align-items: center;
    justify-content: center;
}

#services {
    list-style-type: none;
    font-size: 120%;

    
}

/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: rgb(37, 37, 37);

}


/*media tablets and larger (768px +)*/
@media screen and (min-width:768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;

    }

    /*main content*/

    main {
        margin-top: 79px;
    }

    /*hero section*/
    #cover-text {
        bottom: 90px;
        right: 90px;
    }

    /*reasons section*/
    #reason, #service-list, #thanks {
        display :flex;
        flex-direction: column;
        width:100%;
        border: 10px black;
        
    }

    #reason > div, #service-list > div, #thanks > div {
        width:75%;
        text-align: center;
    }

    
        

}

/*media tablets and larger (992px +)*/
@media screen and (min-width:992px) {

    #menu a:hover {
        border-bottom: 1px solid black;

    }

    /*hero section*/
    #cover-text {
        bottom: 150px;
        right: 90px;
    }


}

/*media screens greater than (1200+)*/
@media screen and (min-width:1200px) {
    /*reasons section*/
    #reason {
        width :200%;
    }
    
    #why {
        display :flex;
        flex-direction :row;
    }

    #why > div {
        flex : 1;
        text-align :center;
        align-items: center;

    }

    

    
    
    
}